@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400;600;700;800;900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
body{
    background: #bbc6fa;
}
.quote-box{
    background: #fff;
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-sizing: 0 10px 20px 0px rgba(0,0,0,0.15) ;
}
.quote-box h2{
   font-size: 38px;
   margin-bottom: 40px; 
   position: relative;
}
.quote-box h2::after{
    content: '';
    width: 75px;
    height: 3px;
    border-radius: 3px;
    background: rgba(23,124,229);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
.quote-box blockquote{
    font-size: 30px;
    min-height: 100px;
}
.quote-box blockquote::before, .quote-box blockquote::after{
content: '"';
}
.quote-box span{
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;
}
.quote-box span::before{
 content: '';
 width: 20px;
 height: 2px;
    background: rgba(23,124,229);
    position: absolute;
    top: 50%;
    left: -40px;
}
.quote-box div{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.quote-box button{
background:rgba(23,124,229) ;
color: #fff;
border-radius: 25px;
border: 1px solid rgba(23,124,229);
width: 150px;
height: 50px;
display: flex;
align-items: center;
justify-content: center;
margin: 5px;
cursor: pointer;
}
.quote-box button img{
    width: 20px;
    margin-top: 5px;

}
.quote-box button:nth-child(2){
    background: transparent;
    color:#333 ;
}